<div>
 <div class="banner" style="background-image: url('<%= image_path('img2.png')%> ');  background-position: center;">
  <div class="banner-content">
    <h1><%= @article.title%></h1>
    <p>By: Solsea</p>
    <h6><%= @article.location %></h6>
  </div>
</div>
</div>
<div class="blog">
  <hr>
  <div class="container">
    <div class="row">
      <% @articles.each do |article| %>
      <div class="col-xs-12 col-sm-12 col-md-6 text-center">
        <%= link_to article_path(article) do %>
        <div class="post">
          <%= image_tag "img1.png",  height: 300, class: "card-img-top"%>
          <h2><%= article.title %></h2>
          <p>By: Solsea</p>
          <h6><%= article.location %></h6>
          <h6><%= article.short_desc %></h6>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <hr>
</div>
