<div>
  <% if @article %>
  <div class="banner" style="background-image: url('<%= cl_image_path @article.photo%> ');  background-position: center; ">
    <div class="banner-content">
      <h1><%= @article.title%></h1>
      <h6 class="loc">By:</h6>
      <p class="solsea-banner">SolSea</p>
      <h6 class="loc"><i class="fa fa-map-pin"></i> <%= @article.location %></h6>
    </div>
    <% end %>
  </div>
</div>

<div class="container hidden-lg hidden-md">
 <br>
 <hr>
 <div class="row">
  <% if @articles %>
  <% @articles.each do |article| %>
  <div class="col-xs-12 col-sm-12 col-md-6 text-center">
    <%= link_to article_path(article) do %>
    <div class="post">
      <%= cl_image_tag article.photo, crop: :fill,  height: 300, width: 500, class: "img-fluid"%>
      <h2 class="title"><%= article.title %></h2>
      <h4 class="solsea">SolSea</h4>
      <h5 class="loc"><i class="fa fa-map-pin"></i> <%= article.location %></h5>
      <br>
      <% end %>
    </div>
  </div>
  <% end %>
  <% end %>
</div>
<br>
<hr>
</div>
<div class=" hidden-xs hidden-sm">
  <div class="row">
    <div class="col-md-8">
      <div class="conatiner">
       <br>
       <hr>
       <div class="row">
        <% if @articles %>
        <% @articles.each do |article| %>
        <div class="col-xs-12 col-sm-12 col-md-6 text-center">
          <%= link_to article_path(article) do %>
          <div class="post">
            <%= cl_image_tag article.photo, crop: :fill,  height: 300, width: 500, class: "img-fluid"%>
            <h2 class="title"><%= article.title %></h2>
            <h4 class="solsea">SolSea</h4>
            <h5 class="loc"><i class="fa fa-map-pin"></i> <%= article.location %></h5>
            <br>
            <% end %>
          </div>
        </div>
        <% end %>
        <% end %>
      </div>
      <br>
      <hr>
    </div>
  </div>
  <div class="col-md-4">
    <div class="menu2 text-center" style="padding-top: 20px">
        <hr>
        <h3>Follow me</h3>
        <div id="socialnet" class="text-center">

           <a href="https://instagram.com/solsea" style="color:black"><i class="fa fa-instagram" style="font-size: 50px"></i> </a>
           <a href="https://facebook.com/solsea" style="color:black"><i class="fa fa-facebook" style="font-size: 50px"></i></a>
         <hr>
       </div>
       <h3>Profile</h3>
       <%= image_tag'celena.png', class: "avatar-xs"%>
       <div class="text-center">
        Hola! Soy Celena Cerrud, una panameñita enamorada de su país ...
      </div>
      <br>
      <%= link_to pages_bio_path do %>
      <p class="btn btn-info ">LEER MÁS</p>
      <% end %>
      <hr>
      <h3>Ubicacion</h3>
       <div class="text-center">
        <img src="http://cdn4.breitlingforbentley.com/bundles/breitlingretailers/images/maps/asset-version-ecfebe18a8-PA.png" height="150">
        <h5>Panamá</h5>
       </div>
       <hr>
      <h3>Heramientas</h3>
      <img src="https://lawestmedia.com/wp-content/uploads/2018/04/bigstock-210884860a-e1523545314777.jpg" alt="" height="50">
       <hr>

</div>

  </div>
</div>
</div>
